.music-player {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.play-btn {
    cursor: pointer;
}

.music-player .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#myChart {
    width: 100%; /* Pastikan canvas mengisi lebar */
    height: 400px; /* Sesuaikan tinggi canvas */
}


/* HTML: <div class="loader"></div> */
.loader {
    --r1: 154%;
    --r2: 68.5%;
    width: 100px;
    height: 100px;
    aspect-ratio: 1;
    border-radius: 50%;
    background:
      radial-gradient(var(--r1) var(--r2) at top   ,#0000 79.5%,#269af2 80%),
      radial-gradient(var(--r1) var(--r2) at bottom,#269af2 79.5%,#0000 80%),
      radial-gradient(var(--r1) var(--r2) at top   ,#0000 79.5%,#269af2 80%),
      #ccc;
    background-size: 50.5% 220%;
    background-position: -100% 0%,0% 0%,100% 0%;
    background-repeat:no-repeat;
    animation: l9 2s infinite linear;
  }

  #loadingScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Background redup */
    justify-content: center;
    align-items: center;
    z-index: 999;
  }

  @keyframes l9 {
      33%  {background-position:    0% 33% ,100% 33% ,200% 33% }
      66%  {background-position: -100%  66%,0%   66% ,100% 66% }
      100% {background-position:    0% 100%,100% 100%,200% 100%}
  }

.swal2-confirm.btn-confirm {
    background-color: #4CAF50; /* Hijau */
    color: white; /* Teks putih */
    border: none;
}

.h1 {
    background-color: #4CAF50;
    color: rebeccapurple;
}
