.music-player {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.play-btn {
    cursor: pointer;
}

.music-player .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.swal2-confirm.btn-confirm {
    background-color: #4CAF50; /* Hijau */
    color: white; /* Teks putih */
    border: none;
}
